.container {
    display: flex;
    margin-top: 2rem;
    align-items: center;

    img {
        margin-right: 3rem;
        height: 33px;
    }

    nav {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        ul {
            display: flex;
            align-items: center;
            gap: 2rem;
            
            font-weight: 700;

            text-transform: capitalize;
        }
    }
}

.list {
    color: var(--grayish-violet);
    transition: color 0.2s;

    &:hover {
        color: var(--very-dark-violet);
    }
}

.signup {
    padding: 0.5rem 2rem;
    border-radius: 3rem;
    color: var(--white);
    background-color: var(--cyan);
    cursor: pointer;

    transition: background-color 0.2s;

    &:hover{
        background-color: adjust-color($color: hsl(180, 66%, 49%), $lightness: 20%);
    }
}
